<nav id="navbar-example2" class="navbar bg-dark px-3 mb-3" data-bs-theme="dark">
    <a class="navbar-brand" href="#">Blogify</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading1">Home</a>
      
        <% if (locals.user) { %>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/addBlog">Add Blog</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"> <%= locals.name %> </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/logout">Log Out</a></li>
          </ul>

        </li>
      <% } else{%>

        <li class="nav-item">
          <a class="nav-link" href="/signup">Create Account</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/signin">Sign in</a>
        </li>
        <% } %>
      
    </ul>
  </nav>

  <% if (locals.error) { %>

    <div class="alert alert-primary" role="alert">
        <%= locals.error %>
      </div>
  
  <% } %>